body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#portfolio-image{
    height: 400px;
  
}